<% if (notice) { %>
    <p><%= notice %></p>
<% } else { %>
    <h2><%= post.caption %></h2>
    <p>Publicado por usuario de id <%= post.userId %></p>
    <img src="<%= post.media %>" alt="Imagen de publicación">
<% } %>