@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

body {
    background-color: #ace;
}

article {
    background-color: azure;
}

header {
    max-width: 100%;
    padding-top: 0%;
    position: relative;
    margin-top: 0%;
}

body {
    margin: 0;
    padding: 0%;
    max-width: 100%;
}

#barralogo {
    background-color: #25559a;
    margin-top: 0;
    padding: 0;
    max-width: 100%;
}

#logo img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 5%;
}


#logo span{
    font-family: 'Cinzel Decorative';
    font-size: 40px;
    color: azure;
    position: absolute;
    top: 25%;
    margin-left: 10%;
    margin-bottom: 0%;
}

#logo {
    position: relative;  
}

article.post {
    display: inline-block;
    width: 50%;
    max-width: 100%;
    margin-top: 1%;
    margin-left: auto;
}


.post .foto-usuario-post img {
    width: 15%;
    height: 15%;
    border-radius: 40%/60%;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    clear: both;
}

article.post h2 {
    font-family: 'Cinzel';
    float: left;
    clear: both;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 0%;
    white-space: nowrap;
    font-size: 1.8vw;
}

article.post h4 {
    font-family: 'Cinzel';
    float: left;
    clear: both;
    margin-top: 0%;
    margin-left: 10%;
    font-size: 1vw;
}

.post span#publicacion {
    font-family: 'Cinzel';
    font-size: 1.3vw;
    right: 5%;
    top: 17%;
    left: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

.post .foto-post img {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    float: left;
    clear: both;
    margin-top: 18%;
    margin-bottom: 1%;
}

.post {
    position: relative;
    left: 25%;
    float: left;
    clear: both;
    display: block;
}

.post span{
    position: absolute;
}

.botones {
    clear: both;
    margin-left: 5%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    background-color: #ace;
}

footer ul li {
    display: inline-block;
    padding: 0.5em;
    color: gray;
    font-size: 0.8em;
}

footer ul li a {
    text-decoration: none;
    color: gray;
}

footer {
    float: left;
    display: inline-block;
    clear: both;
    white-space: nowrap;
}

header span p {
    font-size: 20px;
    font-family: 'Cinzel';
    border: rgb(255, 255, 255) solid;
    background-color: #25559a;
    color:rgb(73, 121, 175);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5%;
    display: inline-block;
    width: 23%;
    margin-left: 0.5% ;
}

header span {
    margin-left: 1.5%;
    margin-top: 0%;
}

a:hover {
    text-decoration: none;
    color:  rgb(1, 91, 180);
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
  }

