@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

body {
    background-color: #ace;
}

article {
    background-color: azure;
}

body {
    margin: 0;
}

#barralogo {
    background-color: blue;
    margin: 0;
    padding: 0;
}

#logo img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#logo span{
    font-family: 'Cinzel Decorative';
    font-size: 40px;
    color: azure;
    position: absolute;
    top: 25%;
    left: 80px;
}

#logo {
    margin-left: 0px;
    position: relative;  
    left: 35%;
}

#sticky-regresarmenú {
    background-color: white;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}
article {
    display: inline-block;
}

article.post {
    height: max-content;
    width: 55%;
}

article.otracosa {
    height: max-content;
    width: 20%;
}

article.post img {
    width: 120px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    border-radius: 40%/60%;
    overflow: hidden;
    float: left;
}

article.post h2 {
    display: inline-block;
}