<% if (notice) { %>
    <p><%= notice %></p>
<% } %>

<p>
    Usuarios
</p>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <% usersList.forEach( (user) => { %>
            <tr>
                <td><a href=<%= userPath(user.id) %>><%= user.firstName %></a></td>
                <td><%= user.lastName %></td>
            </tr>
        <% }) %>
    </tbody>
</table>