@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

* {
    box-sizing: border-box;
  }
  body{
    margin: 0;
    font-family: 'Cinzel';
    background-color: #ace;
  
  }
  
  
    /******************************************************** LOGO ****************************************************/
  #brandbar{
    background-color: #25559a;
    margin: 0;
    padding: 0;
  }

  #brand{
    margin-top: 0px;
    font-family: 'Cinzel Decorative';
    background-color: #25559a;
    width: 420px;
    color: rgb(255, 255, 255);
  }
  #brand p{
    margin:0;
  }
  #brand img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #brand span{
    margin: 0px;
    font-size: 40px;
  }
  /******************************************************** STICKY BAR  *********************************************/
  #sticky-navbar p {
    font-size: 20px;
    font-family: 'Cinzel';
    border: rgb(255, 255, 255) solid;
    background-color: #25559a;
    color:#ace;
    text-align: center;
    margin: 0;
  }
  a:hover{
    text-decoration: none;
    color:  rgb(1, 91, 180);
  }
  a{
    text-decoration: none;
    color:rgb(255, 255, 255);
  }

  /******************************************************** HEADER ***************************************************/
  header{
    font-family: 'Cinzel';
    border: rgb(255, 255, 255) solid;
    padding-top: 0px;
    background-color: #ace;
  }
  header img{
    width: 200px;
    height: auto
  }
  header .profile-pic{
    width: 200px;
    height: 200px;
    margin: 5px 20px 5px 5px;
    border-radius: 50%/50%;
    overflow: hidden;
  }
  header h1, header h2, header h4{
    margin-top: 20px;
    font-weight: normal;
    margin:5px; 
  }
  header h4{
    font-style: italic;
    color:rgb(88, 86, 86);
  }
  
  
  
  /**************************************************   LOGO   ******************************************************/
  
  #brand span{
    position: absolute;
    top: 20px;
    left: 80px;
  }
  #brand{
    margin-left: 0px;
    position: relative;  
    left: 0px;
  }
  
  
  /**************************************************   NAVBAR   ****************************************************/

  #sticky-navbar p {
    width: 25%; 
    float: left; 
  }

  #sticky-navbar{
    position: sticky;   
    top:0;
  }
  
  
  /**************************************************   HEADER   ****************************************************/

  header .profile-pic{
    float: left; 
  }
  .clearfix {
    clear: both;
  }

  /*SECCION FEED*/
  
  section h1 {
      color: #ace;
      font-family: 'Cinzel Decorative';
      font-weight: 700;
      font-size: 2em;
      text-align: center;
      padding: 1.5em 0 0 0.6em;
      
  }

  section h2 {
    color: #ace;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.2em 0 0 0.6em;
}
    
  section h4 {
      color: white;
      font-family: 'Cinzel';
      font-weight: 700;
      font-size: 0.3em;
  }

    
  
  .box {
      text-align: left;
      background-color: rgba(250, 250, 250, 0.8);
      box-shadow: 0.1em 0.1em 0.1em rgba(252, 252, 252, 0.8);
      height: 110px;
      
      
  }
  
 
  /* Grid*/
   
    section#section-one {
  
      background: white;
      background: linear-gradient(
        150deg,
        #25559a,
       #ace
      );
    }
    
  
    /* Aquí podemos ver que le asignamos un display de grid para asi ubicar los elementos en una grilla */
    section#section-one .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; /* Aquí definimos las cantidad de columnas que tendra la grilla y que tamaño tendrá cada una*/
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;/* Aquí definimos las cantidad de filas que tendra la grilla y que tamaño tendrá cada una*/
      /* Con esto dijimos que la grilla tendrá 6 columnas y 6 filas y que cada columna y fila ocupara 1/6 de la grilla*/
      margin: 1em;
      
    }
 
    
    /* Post en perfil */
    .header-content-post {
      font-family: 'Cinzel';
      border: rgb(255, 255, 255) solid;
      padding-top: 0px;
      background-color:  #ace;
    }

    .header-content-post img{
      width: 100px;
      height: auto
    }

    .header-content-post .profile-pic-post{
      width: 100px;
      height: 100px;
      margin: 5px 5px 5px 5px;
      overflow: hidden;
      float: left; 
      border: white solid;
    }
    
    .header-content-post h2 {
    color: black;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 1em;
    padding: 0.1em 0 0 0.6em;
    }
    
    .header-content-post h4 {
      color: black;
      font-family: 'Cinzel';
      font-weight: 700;
      font-size: 0.8em;
    }

    .post {
      height: 110px;
    }

    /* <div class="header-content-post">
              <div class="profile-pic-post">
                  <img src="images/profile-pic.jpg">
              </div>
              <div class="post"> */


    /* Ahora definimos donde empezara y terminará cada elemento de la grilla
    Para grid column tenemos "inicio columna" / "final columna" y se ve de izquierda a derecha
    Para grid row tenemos "inicio fila" / "término fila" y se ve de arriba a abajo */
    .s1-a {
      background-size:cover;
      grid-column: 3 / 5;
      grid-row: 1/ 2;
    }
    
    .s1-b {
      background-size:cover;
      grid-column: 3/ 5;
      grid-row: 2 / 3;
    }
    
    .s1-c {
      background-size:cover;
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }
    
    .s1-d {
     background-size:cover;
      grid-column: 3 / 5;
      grid-row: 4 / 5;
    }
    
    .s1-e {
      background-size:cover;
      grid-column: 3 / 5;
      grid-row: 5 / 6;
    }
  
    /* Seccion 3 - Uso de Flexbox*/
     
    /* Aqui le damos un color de fondo a la seccion */
    section#section-two {
      background: white;
      background: linear-gradient(
        150deg,
        #25559a,
       #ace)
    }
    
   
footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1%;
  background-color: #ace;
}

footer ul li {
  display: inline-block;
  padding: 0.5em;
  color: gray;
  font-size: 0.8em;
}

footer ul li a {
  text-decoration: none;
  color: gray;
}

footer {
  float: left;
  display: inline-block;
  clear: both;
  white-space: nowrap;
}
footer{
  position: sticky;   
  bottom: 0;
  }