<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webthuldra</title>
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="mainFeed.html">WTh</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="sn-posts-feed">
        <div class="sn-post">
          <p>To be created</p>
        </div>
        <div class="sn-post">
          <p>To be created</p>
        </div>
        <div class="sn-post">
          <p>To be created</p>
        </div>
        <div class="sn-post">
          <p>To be created</p>
        </div>
        <div class="sn-post">
          <p>To be created</p>
        </div>
        <div class="sn-post">
          <p>To be created</p>
        </div>
      </section>
      <section class="sn-pagination">
        <ul>
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>Webthuldra &copy; 2021</li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </footer>
  </body>
</html>