<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webthuldra</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/post.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li id="logo">
            <a href="../views/mainFeed.html">
              <img src="../images/snowflakes-png-11574.png" alt="Ícono de un copo de nieve.">
              Webthuldra
            </a>
          </li>
          <li>
            <a href="../views/mainFeed.html">Muro</a>
          </li>
          <li>
            <a href="../profile/userProfile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="">Noticias</a>
          </li>
          <li>
            <a href="">Clima</a>
          </li>
        </ul>
      </nav>
  </header>
    <main>
      <section class="sn-posts-feed">
        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              <figcaption class="info-usuario">
                <h1>Elsa de Arendelle</h1>
                <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <a href="./post.html" class="post-details">Ver detalles</a>
          </main>

          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>
      </section>
      <section class="sn-pagination">
        <ul>
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>Webthuldra &copy; 2021</li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </footer>
  </body>
</html>