
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../styles/profile.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/post.css">
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li id="logo">
            <a href="./mainFeed.html">
              <img src="../images/snowflakes-png-11574.png" alt="Ícono de un copo de nieve.">
              Webthuldra
            </a>
          </li>
          <li>
            <a href="./mainFeed.html">Muro</a>
          </li>
          <li>
            <a href="./userProfile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="./userProfile.html#section-one">Mis Publicaciones</a>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="header-content">
        <figure class="profile-pic">
          <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
          <figcaption>
            <h1>Elsa de Arendelle</h1>
            <h2>@Elsafreski</h2>
            <h4>"Libre soy..."</h4>
          </figcaption>
        </figure>
      </section>

      <section id=section-one>
        <h1>Publicaciones</h1>

        <article class="post">
          <header>
              <figure class="foto-usuario-post">
                <a href="./userProfile.html">
                  <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
                </a>
                  <figcaption class="info-usuario">
                    <a href="./userProfile.html">
                      <h1>Elsa de Arendelle</h1>
                    </a>
                      <h2>#reinadehielo</h2>
                  </figcaption>
              </figure>
          </header>
          <main>
              <section class="publicacion">
                  ¡El día está perfecto para salir a patinar! 
                  Recuerden traer sus patines al lago, habitantes de Arendelle, porque lo congelaré a eso de las 17.00 hrs. 
                  ¡No olviden mantener distancia y usar una mascarilla!
              </section>
              <section class="foto-post">
                  <img src="https://i.pinimg.com/originals/00/16/74/0016747655996706230638e919196f27.gif">
              </section>
          </main>

          <section class="botones">
              <i class="material-icons">chat_bubble_outline</i>
              <i class="material-icons">favorite_border</i> 
          </section>
        </article>

        <article class="post">
          <header>
            <figure class="foto-usuario-post">
              <a href="./userProfile.html">
                <img src="../images/FROZEN-ELSA-OSCARS-DESTACADA-GENTILEZA-DISNEY-768x661.jpg">
              </a>
              <figcaption class="info-usuario">
                <a href="./userProfile.html">
                  <h1>Elsa de Arendelle</h1>
                </a>
                  <h2>#reinadehielo</h2>
              </figcaption>
            </figure>
          </header>
          <main>
            <section class="publicacion">
              Libre no sooooy!!! T-T
            </section>
          </main>
          <section class="botones">
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">favorite_border</i> 
          </section>
        </article>
      </section>
    </main>
      
    <footer>
      <ul>
      <li>Webthuldra &copy; 2021</li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Log In</a></li>
      </ul>
    </footer>
</body>




