<main>
    <% if (errors) { %>
        <div class="errors">
            Es necesario arreglar los siguientes errores:
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <form action="<%= submitUserPath %>" method="post">
        <h2>Nuevo usuario</h2>
        <main class="form-user-inputs">
            <section class="form-user-name">
                <section>
                    <label for="firstName">Nombre</label>
                    <input type="text" name="firstName"/>
                </section>
                <section>
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName"/> 
                </section>
            </section>
            <section>
                <label for="email">Email</label>
                <input type="email" name="email" /> 
            </section>
            <section>
                <label for="tag">Tag</label>
                <input type="text" name="tag" /> 
            </section>
            <section>
                <label for="description">Una pequeña descripción tuya</label>
                <input type="text" name="description" /> 
            </section>
            <section>
                <label for="picture">La url de tu foto</label>
                <input type="url" name="picture" /> 
            </section>
            <section class="form-submit">
                <input type="submit" name="create" value="Registrar"/> 
            </section>
        </main>
    </form>
</main>